/*
* Import Order:
* 1. External Libraries
* 2. Local Modules or Components
* 3. Styles or CSS
* 4. Resources (images, etc.)
* 5. Types (TypeScript)
* 6. Configuration or Environment Variables
*/

import React from 'react';

/**
* Application {{pascalCase name}} Component.
* 
*/
const {{pascalCase name}} = () => {
    return (
        <div>
            <h1>{{pascalCase name}}</h1>
        </div>
    );
};

export default {{pascalCase name}};
